.show-navbar .header__navbar__list {
    width: 100%;
}

.burger-menu {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    width: 24px;
    height: 24px;
    border: none;
    background: transparent;
    cursor: pointer;
    &__bar {
        display: block;
        width: 24px;
        height: 3px;
        background-color: $tertiaryColor;
        border-radius: 3px;
        transition: all 0.5s ease-in-out;
        &::before, &::after {
            content: "";
            width: 24px;
            height: 3px;
            position: absolute;
            left: 0;
            background-color: $tertiaryColor;
            border-radius: 3px;
            transition: all 0.5s ease-in-out;
        }
        &::before {
            transform: translateY(-8px);
        }
        &::after {
            transform: translateY(+8px);
        }
    }
}

.show-navbar .burger-menu__bar {
    width: 0;
    background: transparent;
}
.show-navbar .burger-menu__bar::before {
    transform: rotate(45deg);
}
.show-navbar .burger-menu__bar::after {
    transform: rotate(-45deg);
}
