//Mui Class Elements

.css-m2lu5b-MuiFormControl-root-MuiTextField-root-MuiDataGrid-toolbarQuickFilter { // Container searchInput
    padding-top: 0.5rem!important;
}
.MuiButton-text { // Logo & Text export
    color: $quaternaryColor!important;
}
.MuiSvgIcon-fontSizeSmall { //Logo search
    color: $quaternaryColor;
    font-size: 1.5rem!important;

}
.css-m2lu5b-MuiFormControl-root-MuiTextField-root-MuiDataGrid-toolbarQuickFilter{ // Input Search
    width: 250px!important;
    margin-bottom: 26px!important;
}
.css-1ptx2yq-MuiInputBase-root-MuiInput-root { // Placeholder SearchInput
    font-size: 1.25rem!important;
    color: $quaternaryColor!important;
}
.add-client {
    background-color: white;
    margin-left: 2rem;
}
.MuiPaginationItem-icon { // Paginations arrows
    color: $quaternaryColor;
}
.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root { // Paginations numbers
    color: $quaternaryColor!important;
}

// Cellules
.MuiDataGrid-columnHeaders, 
.MuiDataGrid-cell {
    border-bottom: 1px solid $secondaryColor!important;
    border-radius: 0;
}
.css-17jjc08-MuiDataGrid-footerContainer {
    border-top: 1px solid $secondaryColor!important;
}
.css-1q88e5h-MuiDataGrid-root .MuiDataGrid-cell:focus {
    outline: none!important;
}
