.clients-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-inline: 1rem;
    &--container {
        width: 100%;
        height: 100%;
        background-color: white;
        padding: 1rem;
        border-inline: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        box-shadow: 0 0 8px #ccc;
        border-radius: 0 0 5px 5px;        
    }
    & table {
        margin: 0 auto;
        width: 100%;
        border-collapse: collapse;
    }
    & .first {
        padding-right: 40px;
        width: 230px;
        text-align: right;
        border-left: 1px solid #e6eaed;
        border-right:  none;
        font-weight: 200;
    }
    & .odd {
        background-color: $primaryColor;
    }
    & td {
        position: relative;
        height: 60px;
        width: 230px;
        font-weight: bold;
        border-bottom: 1px solid #e6eaed;
        border-right: 1px solid #e6eaed;
        padding-right: 1rem;
    }
    & input, & textarea {
        border-radius: 6px;
        border-color: $quaternaryColor;
        &:focus, &:active {
            outline: 0;
            box-shadow: 0 0 6px rgb(176, 226, 188);
        }
    }
    & form {
        justify-content: normal;
    }
}


@media screen and (max-height: 1300px) {
    .clients-card .globalContainer {
        padding-inline: 10px;
    }

    .clients-card {
        padding-inline: 0rem;
    }
}


