.display-clients-data {
    position: relative;
    width: 100%;
    // @media screen and (max-height: 900px) {        
    //     height: calc(100vh - 112px);
    // }
    & .headerClient {
        align-items: center;
        position: relative;
        padding-block: 1rem ;
        height: 150px;
        &__close-button {
            position: absolute;
            top: 0;
            right: 0;
        }
        &__input-container {
            display: flex;
            justify-content: space-between;
            margin-right: 1rem;
            gap: 0.5rem;
            & ul {
                flex: 3;
            }
        }
        & form {
            flex-direction: column;
            justify-content: center;
            width: 100%;
            padding: 0;

        }
        &__input {
            width: 175px;
            padding: 0.1rem 0.5rem;
        }
    }
    & .headerSide {
        padding: 0;
    }
    &__buttons-top {
        position: absolute;
        top: -40px;
        right: 0;
    }
    & .clients-card__buttons {
        position: absolute;
        display: flex;
        gap: 1rem;
        top: -30px;
        right: 52px;
        &__submit, &__cancel {
            font-size: 1rem;
            padding: 0.2rem 0.5rem;
            font-weight: bold;
        }
        &__submit {
            background-color: green;
        }
        &__cancel {
            color: $secondaryColor;
        }
    }
}

.colonne-consignes {    
    position: absolute;
    width: 80%;
    top: 150px;
    right: 0;
    height: calc(100vh - 275px);
}

.container-consignes {
    display: flex;
    height: 100%;
    padding-bottom: 20px;
}

.textZone-consignes {
    margin-top: 10px;
    border: 1px solid black;
    height: 100%;
    position: relative;
    flex: 1;
    text-align: start;
    padding: 0!important;
    background-color: #FCEEE2;
}

.textZone-consignes > p {
    display: flex;
    padding-inline: 10px;
    height: 98%;
    margin-top: 1%;
    overflow: scroll;
}

.react-tel-input .form-control {
    width: 200px!important;
}

.inputRadio {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 10px;
    & label {
        margin-top: 0;
        margin-right: 0.5rem;
    }
    &__item {
        display: flex;
        align-items: center;
    }
}  

.listEmail > div {
    height: calc(18px * 4);
    overflow: scroll;
}

.listEmail > div, .listTel > div {
    /* width */
    &::-webkit-scrollbar {
        width: 5px;
        border-radius: 50px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #888; 
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
    &::-webkit-scrollbar-corner {
        background: none; 
    }
}

// Style en mode Edit

.styleEditMode {
    .headerClient {
        height: 200px;
    }    
    .colonne-consignes {
        top: 200px;
        height: calc(100vh - 330px);
    }
    .notesEtConsignes {
        height: calc(100% - 55px);
    }
}

// Style pour la modale

.styleModal {
    display: flex;
    align-items: center;
    .headerClient {
        height: 300px;
        margin-inline: 2rem;
    }
    .containerIcons {
        height: auto;
    }
    .headerClient form {
        justify-content: space-evenly;
    }
    .clients-card__buttons {
        top: unset;
        bottom: 45px;
        button {
            padding: 10px;
        }
    }
}