.display-clients-data {
    position: relative;
    width: 100%;
    // @media screen and (max-height: 900px) {        
    //     height: calc(100vh - 112px);
    // }
    & .headerClient {
        position: relative;
        padding-block: 1rem ;
        height: auto;
        &__close-button {
            position: absolute;
            top: 0;
            right: 0;
        }
        &__input-container {
            display: flex;
        }
        & form {
            flex-direction: column;
            justify-content: center;
            width: 100%;
            padding: 0;

        }
        &__input {
            width: 175px;
            padding: 0.1rem 0.5rem;
        }
    }
    & .headerSide {
        padding: 0;
    }
    &__buttons-top {
        position: absolute;
        top: -40px;
        right: 0;
    }
    & .clients-card__buttons {
        position: absolute;
        display: flex;
        gap: 1rem;
        top: -30px;
        right: 52px;
        &__submit, &__cancel {
            font-size: 1rem;
            padding: 0.2rem 0.5rem;
            font-weight: bold;
        }
        &__submit {
            background-color: green;
        }
        &__cancel {
            color: $secondaryColor;
        }
    }
}

.colonne-consignes {    
    position: absolute;
    width: 70%;
    top: 172px;
    right: 0;
    height: calc(100vh - 296px);
}

.container-consignes {
    display: flex;
    height: 100%;
    padding-bottom: 20px;
}

.textZone-consignes {
    margin-top: 10px;
    border: 1px solid black;
    height: 100%;
    position: relative;
    flex: 1;
    text-align: start;
    padding: 0!important;
}

.textZone-consignes > p {
    display: flex;
    padding-inline: 10px;
    height: 98%;
    margin-top: 1%;
    overflow: scroll;
}