.HistoricMessageModal {
    text-align: center;
    width: 200px;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 200px;
    max-height: 490px;
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}