.message-menu__list {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -48px;
    top: 3.2rem;
    gap: 0.1rem;
    transition: all 0.5s ease-in-out;
    z-index: 10;
    &__link {
        display: flex;
        align-items: center;
        width: 100px;
        height: 0rem;
        background-color: white;
        border-radius: 6px;
        box-shadow: 1px 3px 3px #b1b0ad;
        transition: all 0.5s ease-in-out;
        & button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            font-size: 1rem;        
            font-weight: bold;
            border: 2px solid $tertiaryColor;
            padding-left: 0.5rem;
            gap: 0.5rem;
            visibility: hidden;
            color: $tertiaryColor;
            text-decoration: none;
            transition: all 0.4s ease-in-out;
            &:hover {
                padding-left: 1.5rem;
                color: white;
            }
        }        
    }
}
  
  .show-navbar .message-menu__list__link {
    height: 2rem;
    & a, button {
        visibility: visible!important;
    }
  }

.containerIcon {
    .modalMessage {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1100;
        background-color: rgba(0, 0, 0, .5);
        .modal {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex-grow: inherit;
            width: 400px;
            height: fit-content;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
        }
    }
    .modalEmail {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1100;
        background-color: rgba(0, 0, 0, .5);
        cursor: default;
        .modal {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex-grow: inherit;
            width: 600px;
            height: fit-content;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
        }
    }
}

.modal > input {
    width: 100%;
}
.modal > textarea {
    height: 250px;
}

.btnSms {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding-inline: 1rem;
    height: 40px;
    background-color:rgb(13, 186, 216);
    border-radius: 10px;
    margin-top: 20px;
}

.btnSms-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding-inline: 1rem;
    height: 40px;
    background-color:rgb(255, 0, 0);
    border-radius: 10px;
    margin-top: 20px;
}

.show-models .button-model__button img {
    transform: rotate(180deg);
}

.buttons-Model {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}

.dropDown_container {
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items: flex-end;
}

.destinataireMessage {
    display: flex;
    gap: 2rem;
    width: 60%;
    margin-top: 20px;
}

.destinataireMessage {    
    label {
        margin-top: 0;
    }
    input {
        margin-right: 0.5rem;
    }
    &__container {
        position: relative;
    }
    &__button {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font: 16px "Nunito", sans-serif;
        color: black;
        padding: 0;        
    }
    &__options {
        position: absolute;
        max-height: 330px;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: white;
        padding: 1rem 10px;
        border: 2px solid $quaternaryColor;
        border-radius: 10px;
        input {
            width: auto;
        }
    }
}

.show-listEmails img {
    transform: rotate(180deg);
}

.show-listTel img {
    transform: rotate(180deg);
}

.button-model__button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.models {
    &__container {
        position: relative;
    }
    &__button {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font: 16px "Nunito", sans-serif;
        color: black;
        padding: 0; 
    }
    &__options {
        position: absolute;
        max-height: 330px;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: white;
        padding: 1rem 10px;
        border: 2px solid $quaternaryColor;
        border-radius: 10px;
    }
}

.show-listTel img {
    transform: rotate(180deg);
}