.home {
    background-color: rgba(0,0,0,0.4);
}



//Mui Class Elements

.MuiBox-root { // Header container

}
.MuiSvgIcon-fontSizeSmall { //Logo search
    color: white;
}
.css-1ptx2yq-MuiInputBase-root-MuiInput-root { // Placeholder SearchInput
    color: white!important;
}
.MuiDataGrid-footerContainer { // Footer container
    
}
.MuiPaginationItem-icon { // Paginations arrows
    color: white;
}
.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root { // Paginations numbers
    color: white!important;
}