.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerClient {
    display: flex;
    width: 100%;
    height: 120px;
    background-color: #048B9A;
    box-shadow: 0 0 8px #ccc;
    border-radius: 10px 10px 0 0;
}

.headerSide {
    width: 50%;
    padding: 15px;
}

.width50 {
    width: 50%;
}

.width30 {
    width: 30%;
}

.width20 {
    width: 20%;
}

.width70 {
    width: 70%;
}

.width100 {
    width: 100%;
}

.mt5 {
    margin-top: 5px;
}

.containerNotesConsignes {
    display: flex;
    flex-direction: row;
    height: 500px;
    overflow-y: scroll;
    width: 100%;
}

.containerIcon {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    border: 4px solid #F2A965;
    background-color: white;
    cursor: pointer;
}

.icon {
    width: 70px;
    height: 70px;
    color: #0dbad8;
    margin: 10px;
}

.containerColonne {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 8px #ccc;
    padding: 20px 20px;
    text-align: center;
    z-index: 1;
}
/* @media screen and (max-height: 900px) {   
    .containerColonne {   
        bottom: -350px;
        height: 350px;
    }
} */

.textZone {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid black;
    overflow: scroll;
    height: 100%;
}

.btn {
    border-radius: 5px;
    background-color: rgb(13, 186, 216);
}

.globalContainer {
    height: 100%;
}

.containerIcons {
    width: 300px;
    gap: 20px;
    height: 140px;
}

.btnSubmitInscription {
    background-color: rgb(13, 186, 216);
    color: white;
    margin: 10px auto;
    padding-inline: 2rem;
    width: fit-content;
    border-radius: 10px;
    text-align: center;
}

.modalMessage {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1100;
    background-color: rgba(0, 0, 0, .5);
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 300px;
    width: 30%;
    background-color: white;
    border-radius: 10px;
}

.btnSms {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: fit-content;
    background-color:rgb(13, 186, 216);
    border-radius: 10px;
    margin-top: 20px;
}